<a href="https://colab.research.google.com/github/DattaIn/idatta.github.io/blob/master/CDS_B1_M0_NB_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Advanced Certification Program in Computational Data Science
## A program by IISc and TalentSprint
### Notebook I: Sets and Tuples in Python

#### Tuples

We saw earlier that a list is an ordered mutable collection. There’s also an ordered immutable collection.

In Python these are called tuples and look very similar to lists, but typically written with () instead of []:

In [ ]:
a_list = [1, 2, 3]
a_tuple = (1, 2, 3)

Similar to how we used list before, you can also create a tuple via tuple(1,2,3).

The difference being that tuples are immutable. This means no assignment, append, insert, pop, etc. Everything else works as it did with lists: indexing, getting the length, checking membership, etc.

Another thing to note is that strictly speaking, the comma is what makes the tuple, not the parentheses. In practice it is a good idea to include the parentheses for clarity and because they are needed in some situations to make operator precedence clear.

In [ ]:
a_tuple = (4, 5, 6)
b_tuple = 4, 5, 6 # Tuple Packaging
a_tuple == b_tuple

In [ ]:
a, b , c = a_tuple # Tuple Unpackaging
print(a, b, c)

This is also important if you need to make a single element tuple:

In [ ]:
X = (89)
type(X)

In [ ]:
Y = (78, )
type(Y)

#### Sets

Items in a list have a definite order, which is what allows us to index into them or sort them. Sometimes you don’t care what the order of items is, simply whether the collection contains it or not. In this case Python has a special type that is probably not familiar to you from other languages: set.

A set is an unordered, mutable collection. In math they’re typically denoted with {}, you can use the same in Python. The difference from dict syntax is that there aren’t key-value pairs separated by :.

Many of the same operations you have on lists and tuples are available on set, but anything dealing with order isn’t. This means you can’t index into a set, or pop a specific element.

In [ ]:
s = set([1,2,3]) # Defining a Set

In [ ]:
len(s) # Length of set

In [ ]:
type(s) # checking for type of 's'

In [ ]:
s[1] # Sets doesn't support indexing

Sets cannot have duplicate elements

In [ ]:
a = set([1, 2, 3, 4, 3, 3, 3, 2, 2,323, 3, 4])

In [ ]:
a

We can make a set in two ways: set([]) or {[]}:

In [ ]:
b = {4, 5, 6}
c = set([9, 8, 10])

However, we can not have dictionaries, lists, and other sets as a member of a set:

#### Basic Operations on Sets

In [ ]:
X = set() # Creating empty set

In [ ]:
X.add(6) # Adding elements into set

In [ ]:
X.add(7)

In [ ]:
X

We can add several members at once using update():

In [ ]:
X.update([8, 9])

In [ ]:
X

In [ ]:
A = {0, 2, 4, 6, 8}
B = {1, 3, 4, 6, 9, 27}

In [ ]:
A.union(B)

In [ ]:
A.intersection(B)

In [ ]:
A.intersection_update(B)

In [ ]:
A

In [ ]:
A.symmetric_difference(B)

In [ ]:
A.symmetric_difference_update(B)

In [ ]:
A